* {
  margin: 0;
  padding: 0;
}

body {
  margin: 40px;
  font-family: monospace;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-loader {
  justify-content: center;
  align-items: center;
  display: flex;
}
